html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #241c1c;
}
body {
  overscroll-behavior: contain; /* avoid mobile reload on scroll */
}
#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* center-app (app centralizer) */
#c-app {
  height: calc(100vh - 42px);
  width: 100vw;
}
#menu {
  height: 42px;
  background: #111;
}
#menu > div {
  margin: 0 auto;
}
#menu button {
  height: 42px;
  line-height: 42px;
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px; 
  font-weight: bold;
  background: #333;
  border: 0;
}
#menu button:hover {
  text-decoration: underline;
}
#app {
  position: relative;
  width: 720px;
  margin: 0 auto;
}
#app > svg,
#app > p {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#app > p {
  text-align: center;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.25rem;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px; 
  user-select: none;
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: flex-end;
}

/* cauldron */
#c {
  --defaultColor: #216778;
  --initColor: var(--defaultColor);
  --color: var(--initColor);
}
/* cauldron content */
.cc ellipse {
  fill: var(--initColor);
}
#c.hover .cc ellipse {
  fill: var(--color);
}

/* cauldron-animation */
#ca {
  position: absolute;
  top: 0;
  left: 95px;
  width: 230px;
  overflow: hidden;
  pointer-events: none;
  z-index: 5;
}
#ca div {
  --animColor: tranparent;
  position: absolute;
  width: calc(100% - 100px);
  height: 100%;
  background: var(--animColor);
  opacity: 0.3;
  top: calc(100% + 50px);
  margin: 0 50px;
  box-shadow: 0 0 50px 15px var(--animColor);
}

/* notifications */
#n {
  position: absolute;
  bottom: 30px;
  right: 180px;
  width: 300px;
  min-height: 4rem;
  background: #fff;
  padding: 0.5rem;
  color: #333;
  display: none;
  white-space: pre-line;
  line-height: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
#n h4, #n p {
  margin: 0 0 0.5rem 0;
}
